header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.title {
  padding-left: 45px;
  padding-top: 17px;
}

.header-left a {
  float: left;
  color: black;
  font-weight: 600;
  font-size: 24px;
}

.header-right {
  float: right;
  display: flex;
  margin-right: 45px;
}

.header-right a {
  line-height: 65px;
  width: 100px;
  text-align: center;
  color: black;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}

.header-right a:hover {
  background-color: rgba(180, 180, 180, 0.9)
}

a {
  text-decoration: none;
}