.container {
  width: 1000px;
  padding: 50px 100px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
}

.create-wrapper {
  padding: 150px 0 150px 0;
  text-align: center;
}

.create-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

.form-group {
  padding: 20px 20px;
}

.form-group input {
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

textarea {
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

label {
  display: block;
  font-weight: 600;
  padding: 10px;
  font-size: 20px;
}

.submit-btn {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: rgb(242, 242, 242);
  transition: all 0.5s;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

.error-message {
  display: inline-flex;
  border-radius: 8px;
  outline: 2px solid rgb(255, 131, 131);
  margin: 15px;
  width: 300px;
  padding: 10px;
  background-color: rgb(255, 188, 188);
  color: red;
}