<div class="list-wrapper">
  <div class="list-container">
    <h1 class="title">MY POSTS</h1>
    <div class="cards">
      <div *ngFor="let post of posts">
        <a [routerLink]="['/mypage/edit', post.id]">
          <div class="card">
            <div class="card-top">
              <h4 class="card-title">{{ post.post_title }}</h4>
              <p class="author">{{ post.author }}</p>
              <p class="movie">{{ post.movie }}</p>
            </div>
            <hr />
            <div class="card-main">
              <div class="eval">
                <div *ngFor="let star of arrayNumberLength(post.evaluation)">
                  <div class="material-symbols-outlined star">star</div>
                </div>
              </div>
              <div class="card-text">
                {{ post.impression }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
