<div class="top-wrapper">
  <div class="container">
    <h1>WELCOME TO MOVIESHARE</h1>
    <p>
      Movie Share is a community where many users share their favorite movies.
    </p>
    <p><strong>Share</strong> Your Favorite Movie!</p>
    <p><strong>Find</strong> Your Favorite Movie!</p>
    <div class="btn-wrapper">
      <a href="" class="btn register" routerLink="/auth/register">
        <span>REGISTER</span>
      </a>
      <a href="" class="btn login" routerLink="/auth/login">
        <span>LOGIN</span>
      </a>
    </div>
  </div>
</div>
